<html>
    <head>
        <title>
            <%= locals.title%>
        </title>
        <script src="https://kit.fontawesome.com/b4f6afe91c.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <h1>Contact list</h1>
        <i class="fa-solid fa-address-card"></i>
        <div>
            <ul>
                   
                <% for (let i of contact_list) { %> 
                   <div class="contact"> 
                        <li>
                            <p><%= i.name %></p>
                            <p><%= i.phone %></p>
                        </li>
                    </div>
                    <div class="delete-button">
                        <i class="fa-solid fa-user-slash"></i>
                        <a href="/delete-contact/?phone=<%= i.phone %>">
                            delete
                        </a>
                    </div>
                <% } %>
            </ul>
        </div>

        <form action="/create-contact" method="POST">
            <input type="text" name="name" placeholder="Enter name" required>
            <input type="number" name="phone" placeholder="Enter phone" required>
            <button type="submit" class="fa-solid fa-user-plus">Add contact</button>
            <!-- <i class="fa-solid fa-user-plus"></i> -->
        </form>
        <script type="text/javascript" src="/js/home.js"></script>
    </body>
</html>